@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-hero-title {
  animation: fadeInScale 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}