@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-hero-title {
  animation: fadeInScale 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

/* Base Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
  /* slate-100 */
}

::-webkit-scrollbar-thumb {
  background: #2563eb;
  /* blue-600 */
  border-radius: 5px;
  border: 2px solid #f1f5f9;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d4ed8;
  /* blue-700 */
}

/* Custom scrollbar for containers */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  /* slate-300 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}